.navbar {
    background-color:rgba(41, 40, 40, 0.932);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow:white;
}

.productos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
}

.productos ul{
    display: flex;
    list-style: none;
}

.productos li {
    margin: 20px 0;
    margin-left: 40px;
    font-size: 1.1em;
    font-weight: 700;
    
}

.activo {
    
    color: darkgray;
    text-decoration: none;
}

.inactivo {
    text-decoration: none;
    color:white;
}